/node_modules
/public/js/
/public/css/
/public/index.html/
/.idea
/services/Des_Test/
.DS_Store
.env
*.sh.swp
*.swp
*.txt.swp
*.js.swp
/public/*.svg
/public/*.eot
/public/*.ttf
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/video/*